//
// About
// 

.about {
    padding-top: 10rem;
    background: linear-gradient(to bottom, $black 0%, #{fade-out($black, 0.1)} 75%, #{fade-out($black, 0.2)} 100%);

    h2, p {
        color: $white;
    }

    p {
        margin-bottom: 5rem;
    }
}
