asgiref
boto3
botocore
coverage
Django
django-cors-headers
django-storages
djangorestframework
djangorestframework-simplejwt
jmespath
pillow
psycopg2-binary
PyJWT
python-dateutil
python-dotenv
pytz
s3transfer
six
sqlparse
tzdata
urllib3
