#mainNav {
    background-color: white;
    color: black;
    transition: background-color 0.5s ease;
}

.navbar-nav {
  margin-left: auto;
}

.header {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.header h1,
.header .h1 {
  font-family: "Varela Round", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
}

.header h2,
.header .h2 {
  max-width: 20rem;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .header h1,
  .header .h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .header {
    height: 100vh;
    padding: 0;
  }
  .header h1,
  .header .h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .header h2,
  .header .h2 {
    max-width: 30rem;
    font-size: 1.25rem;
  }
}

.about-section {
    padding-top: 10rem;
    background: linear-gradient(to bottom, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.about-section p {
    margin-bottom: 5rem;
}

.projects {

}

.contact {

}

.contact-info {

}

.footer {
    padding: 5rem 0;
    background-color: black;
}
